<link rel="stylesheet" href="/components/blog.css">
<section class="blog" id="blog">
    <div class="blog-hero">
        <img class="blog-hero__img" src="/assets/background-blog.jpg" alt="">
        <div class="blog-hero__overlay"></div>
        <div class="blog-hero__content">
            <a href="#" class="blog-back">← zpět</a>
            <h1 class="blog-hero__title">Bavlna v Nejčistší Podobě</h1>
            <div class="blog-hero__divider"></div>
            <p class="blog-hero__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>

    <div class="blog-body">
        <aside class="blog-social" aria-label="Sociální sítě">
            <a class="social-btn" href="https://www.tiktok.com/@tisktshark" aria-label="TikTok">
                <span class="social-circle">
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path d="M18 7.5c-2.1-.7-3.4-2.3-3.8-4.5H12v11.1c0 1.5-1.2 2.7-2.7 2.7S6.6 15.6 6.6 14c0-1.5 1.2-2.7 2.7-2.7.3 0 .6 0 .9.1V8.1c-.3 0-.6-.1-.9-.1-3 0-5.4 2.4-5.4 5.4s2.4 5.4 5.4 5.4 5.4-2.4 5.4-5.4V12c1.1 1 2.5 1.6 4 1.7v-2.7c-.9-.1-1.8-.5-2.7-1z" fill="currentColor"/>
                    </svg>
                </span>
            </a>
            <a class="social-btn" href="https://www.facebook.com/profile.php?id=61581136425575" aria-label="Facebook">
                <span class="social-circle">
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path d="M15 3h-2a4 4 0 00-4 4v2H7v3h2v9h3v-9h2.5l.5-3H12V7a1 1 0 011-1h2V3z" fill="currentColor"/>
                    </svg>
                </span>
            </a>
            <a class="social-btn" href="https://www.instagram.com/tsharktricek/" aria-label="Instagram">
                <span class="social-circle">
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path d="M7 2h10a5 5 0 015 5v10a5 5 0 01-5 5H7a5 5 0 01-5-5V7a5 5 0 015-5zm5 5a5 5 0 100 10 5 5 0 000-10zm6.5-.25a1.25 1.25 0 11-2.5 0 1.25 1.25 0 012.5 0z" stroke="currentColor" stroke-width="1.2"/>
                    </svg>
                </span>
            </a>
        </aside>
        <article class="blog-article">
            <h2 class="blog-title">Bavlna v Nejčistší Podobě</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed ante finibus, auctor sem in, rhoncus nisl. Nunc id vestibulum velit, in facilisis diam. Sed ut tellus vitae odio consequat pharetra. Curabitur vel massa in justo blandit auctor sit amet vel elit. Sed a venenatis ipsum, a egestas dolor. Nulla vitae ex quam. Phasellus feugiat fringilla faucibus. Vivamus condimentum est vitae convallis pulvinar.</p>
            <p>Donec convallis nulla non sapien venenatis hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eu fermentum lectus. Nulla varius id ligula sed sollicitudin. Sed imperdiet ipsum id mauris blandit, ac molestie nunc pellentesque. Nam venenatis urna et arcu accumsan maximus. Curabitur laoreet fringilla convallis. Duis mattis massa eu nunc accumsan tincidunt. Proin aliquet vehicula leo eget vulputate. Suspendisse potenti. Morbi varius enim at leo venenatis vulputate. Nam consectetur libero semper eros tristique finibus. Integer eget magna felis.</p>
        </article>
    </div>
</section>


